/****** Object:  StoredProcedure [ETC].[ConsultaResRutaTipoAcceso]    Script Date: 22/11/2025 1:11:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Redesis SAS
-- Create date: 2021-12-15
-- Description:	Consulta de resultado de las rutas de acceso.
-- 22-Dic-2021 Se crea temporal para almacenar el calculo del tipo de acceso WH.
-- [ETC].[ConsultaResRutaTipoAcceso] 312,3
-- =============================================
CREATE OR ALTER PROCEDURE [ETC].[ConsultaResRutaTipoAcceso]
	@IdETC int,
	@ID_TipoAcceso int
AS
BEGIN
	SET NOCOUNT ON;

	
	select 
		b.id IdSede,
		d.Nombre MunicipioNombre, 
		e.Nombre InstiEducativa, 
		b.Nombre Sede,
		b.CodigoDane
	from ETC.ETC a
		left join SistemaEducativo.Sedes b on a.id = b.ID_ETC
--		left join ETC.ETCDivipola c on a.id = c.ID_ETC
		left join Configuracion.Divipolas d on b.ID_DiviPola = d.id
		left join SistemaEducativo.InstitucionEducativa e on a.id = e.ID_ETC and b.ID_lE = e.id
	where a.id = @IdETC and b.ID_TipoAcceso =@ID_TipoAcceso 
	
END