/****** Object:  StoredProcedure [Contratos].[PA_ContratosCantidadBeneficiarios]    Script Date: 20/11/2025 11:44:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
  Empresa:		TiGlobal SAS 
  DescripciÓn: Proceso que genera el cuadro resumen las sedes que tienen asignadas raciones por un
  contrato.
  Creado Por:	 MARIA CRISTINA DIAZ TORRES
  Fecha:	 2022/04/11
   exec  [Contratos].[PA_ContratosCantidadBeneficiarios] 2  , 1,17   ----12
     
	*/

  /*
  Modificado: Mateo Solano
  Fecha: 20251121
  Proposito: Modificar el procedimiento para agregar código de DANE
  */
	CREATE OR ALTER PROCEDURE [Contratos].[PA_ContratosCantidadBeneficiarios]  @id_Contrato int, @id_divipola INT = NULL , @id_IE INT = NULL , @id_sede INT = null
	AS
	SET NOCOUNT ON
  --------------------------------------------------------------  
  --     DECLARACION DE TABLAS  
  --------------------------------------------------------------   
  --------------------------------------------------------------  
  --     DECLARACION DE VARIABLES  
  --------------------------------------------------------------
  --------------------------------------------------------------  
  --                          INICIO                         ---
  -------------------------------------------------------------- 
	BEGIN 
    ------------------------------------------------------------
    select div.id                    id_Municipio
          ,div.Nombre                Municipio
         	,ins.id                    insid
          ,Ins.Nombre                InstitucionEdu
          ,sede.id                   id_Sede
          ,sede.Nombre               SedeEducativa 
          ,sede.CodigoDane           CodigoDane
          ,SUM(gsj.Matricula)        Matricula
          ,SUM(pri1.NumeroRaciones)  RacionesDiaria
          ,case
           when SUM(gsj.Matricula) < SUM(pri1.NumeroRaciones)  
             then SUM(gsj.Matricula)
          else SUM(pri1.NumeroRaciones)  
          end TotalBeneficiarios
     from  SistemaEducativo.GradosSedesJornadas   gsj 
           INNER JOIN SistemaEducativo.SedesJornada          sej ON gsj.ID_SedeJornada         = sej.id
           INNER JOIN SistemaEducativo.Sedes                sede ON sej.ID_Sede                = sede.id
           inner join SistemaEducativo.InstitucionEducativa  Ins on sede.ID_lE                 = Ins.id
           inner join Configuracion.Divipolas                div on sede.ID_Divipola           = div.id 
           inner join ( Select pri.id_gradosedejornada
                              ,sum(pri.NumeroComplementos)               NumeroRaciones
                          from Priorizacion.Priorizaciones             pri
                               inner join (select id_contrato
                                                 ,id_gradosedejornada
                                                 ,id_tipoModeloOperacion
                                                 ,id_TipoModalidadComplemento
                                                 ,ID_TipoComplemento
                                                 ,count(0)                  cantidad
                                             from Contratos.PriorizacionesContrato     pcn 
                                                  inner join sistemaeducativo.GradosSedesJornadas gsj on pcn.id_GradoSedejornada = gsj.id
                                            where pcn.estado      = 1
                                              and gsj.estado      = 1
                                              and pcn.id_contrato    = @Id_Contrato
                                            group by id_contrato
                                                    ,id_gradosedejornada
                                                    ,id_tipoModeloOperacion
                                                    ,id_TipoModalidadComplemento
                                                    ,ID_TipoComplemento    ) pcn1     on pri.id_GradoSedejornada    = pcn1.id_GradoSedejornada
                                                                                and pri.id_TipoModeloOperacion = pcn1.id_TipoModeloOperacion
                                                                                and pri.ID_TipoModalidadComplemento = pcn1.ID_TipoModalidadComplemento
                                                                                and pri.ID_TipoComplemento          = pcn1.ID_TipoComplemento
                         where pri.estado = 1
                         group by pri.id_gradosedejornada) pri1 on gsj.id = pri1.id_gradosedejornada
    where  sede.Estado  = 1
      and  Ins.Estado  = 1
      and  div.Estado  = 1
      AND sede.ID_Divipola  = ISNULL(@id_divipola, sede.ID_Divipola)
      AND Ins.ID            = ISNULL(@id_IE,       Ins.id)
      AND sede.id           = ISNULL(@id_sede,     sede.id)
    GROUP BY  div.id        
             ,div.Nombre    
             ,ins.id        
             ,Ins.Nombre    
             ,sede.id       
             ,sede.Nombre   
             ,sede.CodigoDane
  --------------------------------------------------------------  
  --                          FIN                             --
  --------------------------------------------------------------
	END
-----------
-----------