/****** Object:  StoredProcedure [Infraestructura].[PA_RiesgoETCSedesModeloOper]    Script Date: 21/11/2025 11:38:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Proceso que genera el listado de sedes del cuadro resumen de los riesgos dada una ETC por cada modalidad.
Corresponde a la 12 del documento 3.3-Calculo de Riesgos.pdf
MARIA CRISTINA DIAZ TORRES
2022/06/12
 exec   [Infraestructura].[PA_RiesgoETCSedesModeloOper] 2, 2, 1

TiGlobal SaS
*/

/*
  Modificado: Mateo Solano
  Fecha: 20251121
  Proposito: Modificar el procedimiento para agregar código de DANE
  */
CREATE OR ALTER PROCEDURE [Infraestructura].[PA_RiesgoETCSedesModeloOper]	@id_ETC INT, @idModeloOper   INT,  @priorizacionPAE   BIT= 1
	AS
		SET NOCOUNT ON
  --------------------------------------------------------------  
  --     DECLARACION DE TABLAS  
  --------------------------------------------------------------  
  --------------------------------------------------------------  
  --     DECLARACION DE VARIABLES  
  --------------------------------------------------------------
  --------------------------------------------------------------  
  --     PROCEDIMIENTO  
  -------------------------------------------------------------- 
  BEGIN
		-----------------------------------------------------------------------------
    select sede.id       id_sede  
          ,div.Nombre    Municipio     
          ,Ins.Nombre    InstEducativa 
          ,sede.Nombre   Sede          
          ,sede.CodigoDane
      from SistemaEducativo.SedesModelosOperacion            smo 
            INNER JOIN SistemaEducativo.Sedes                sede ON smo.ID_sede = sede.id
            inner join SistemaEducativo.InstitucionEducativa Ins  ON sede.ID_lE        = Ins.id
            inner join Configuracion.Divipolas               div  ON sede.ID_Divipola  = div.id  
      where smo.Estado  = 1
        AND sede.Estado = 1
        and Ins.Estado  = 1
        and div.Estado  = 1
        and sede.ID_ETC = @id_ETC
        AND smo.ID_TipoModeloOperacion = @idModeloOper
        AND sede.PriorizacionPAE       = @PriorizacionPae;
		-----------------------------------------------------------------------------
  END 
  -----------------------------------------------------------------------------
  -- FINAL 
  ------------------------------------------------------------    