/****** Object:  StoredProcedure [Priorizacion].[PA_PrioSedeBeneficiarias]    Script Date: 20/11/2025 3:17:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*    
Proceso que genera el cuadro resumen del Diagnóstico de infraestructura.    
MARIA CRISTINA DIAZ TORRES    
2022/02/22    
 exec   [Priorizacion].[PA_PrioSedeBeneficiarias] 343 , null, null,  null, null,null, null,  null,   null,  null,     null                  
        Priorizacion.PA_PrioSedeBeneficiarias  
 exec   [Priorizacion].[PA_PrioSedeBeneficiarias] 0 , null, null,  34413, null,null, null,  null,   null,  null,     null   
modificado 14/07/2022
 @@priorizadaPAE  int = null ahora es int no bit. Si es nulo es 2
 -------------------------------
Fecha Modificación: 20230505 
Proposito: Permitir que puedan enviar la Institución educativa en lugar de la etc. Como la ETC es obligatoria, la deben enviar en 0(cero)
y se realiza la busqueda de esta por institución.
--------------------------------------------------------------------------------------
TiGlobal SaS    
*/   

/*
Modificado: Mateo Solano
Fecha: 20251120
Proposito: Modificar el procedimiento para agregar código de DANE
*/

CREATE OR ALTER PROCEDURE [Priorizacion].[PA_PrioSedeBeneficiarias]
      @id_ETC INT,
      @Id_TipoMunicipio INT = NULL,
      @Id_Municipio INT = NULL,
      @Id_InstEducativa INT = NULL,
      @Id_sede INT = NULL,
      @Id_Jornada INT = NULL,
      @Id_NivelEducativo INT = NULL,
      @Id_Zona INT = NULL,
      @Id_CriterioVul INT = NULL,
      @Id_EstadoPrio INT = NULL,
      @priorizadaPAE INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    --------------------------------------------------------------
    -- DECLARACION DE VARIABLES
    --------------------------------------------------------------
    DECLARE @id_ETC1 INT;

    --------------------------------------------------------------
    -- PROCEDIMIENTO
    --------------------------------------------------------------
    IF @id_ETC = 0
    BEGIN
        SELECT @id_ETC1 = ID_ETC
        FROM SistemaEducativo.InstitucionEducativa
        WHERE id = @Id_InstEducativa
          AND Estado = 1;

        IF @id_ETC1 > 0
            SET @id_ETC = @id_ETC1;
    END;

    SELECT
          div.id AS id_Municipio,
          div.Nombre AS Municipio,
          Ins.id AS id_InstEducativa,
          Ins.Nombre AS InstitEducativa,
          sede.id AS id_Sede,
          sede.Nombre AS Sede,
          sede.CodigoDane AS CodigoDane,
          sede.PriorizacionPAE AS PriorizadaPAE,
          SUM(gsj.matricula) AS MatriculaSIMAT,
          -- SUM(gsj.cantSisbenAB) AS cantidadSISBENAB,
          CASE
              WHEN SUM(gsj.matricula) = 0 THEN CONVERT(INT, -1)
              ELSE CONVERT(
                       INT,
                       CONVERT(NUMERIC(8,4), SUM(gsj.cantSisbenAB))
                       / CONVERT(NUMERIC(8,4), SUM(gsj.matricula)) * 100
                   )
          END AS PorcenSISBENAB,
          (SELECT TOP 1 sop.ID_TipoModeloOperacion
           FROM SistemaEducativo.SedesModelosOperacion sop
           WHERE sop.Estado = 1
             AND sop.ID_sede = sede.id
             AND sop.ID_TipoModeloOperacion <> 4) AS ID_ModeloOperacion,
          (SELECT TOP 1 tmo.Siglas
           FROM SistemaEducativo.SedesModelosOperacion sop
           INNER JOIN ETC.TiposModeloOperacion tmo
               ON sop.ID_TipoModeloOperacion = tmo.id
           WHERE sop.Estado = 1
             AND sop.ID_sede = sede.id
             AND sop.ID_TipoModeloOperacion <> 4) AS ModeloOperacion,
          (SELECT TOP 1 sop.ID_TipoModeloOperacion
           FROM SistemaEducativo.SedesModelosOperacion sop
           WHERE sop.Estado = 1
             AND sop.ID_sede = sede.id
             AND sop.ID_TipoModeloOperacion = 4) AS ID_ModeloOperacionER,
          (SELECT TOP 1 tmo.Siglas
           FROM SistemaEducativo.SedesModelosOperacion sop
           INNER JOIN ETC.TiposModeloOperacion tmo
               ON sop.ID_TipoModeloOperacion = tmo.id
           WHERE sop.Estado = 1
             AND sop.ID_sede = sede.id
             AND sop.ID_TipoModeloOperacion = 4) AS ModeloOperacionER,
          div.Id_TipoMunicipio AS Id_TipoMunicipio,
          @Id_Jornada AS Id_Jornada,
          @Id_NivelEducativo AS Id_NivelEducativo,
          sede.ID_Zona AS Id_Zona,
          @Id_EstadoPrio AS Id_EstadoPrio,
          0 AS Id_CriterioVul
    FROM SistemaEducativo.GradosSedesJornadas gsj
    INNER JOIN SistemaEducativo.SedesJornada sej
        ON gsj.ID_SedeJornada = sej.id
    INNER JOIN SistemaEducativo.Sedes sede
        ON sej.ID_Sede = sede.id
    INNER JOIN SistemaEducativo.InstitucionEducativa Ins
        ON sede.ID_lE = Ins.id
    INNER JOIN SistemaEducativo.Grados gra
        ON gsj.ID_Grado = gra.id
    INNER JOIN Configuracion.Divipolas div
        ON sede.ID_Divipola = div.id
    WHERE sede.Estado = 1
      AND Ins.Estado = 1
      AND div.Estado = 1
      AND sede.ID_ETC = @id_ETC
      AND ISNULL(div.Id_TipoMunicipio, 0)
          = ISNULL(@Id_TipoMunicipio, ISNULL(div.Id_TipoMunicipio, 0))
      AND div.id = ISNULL(@Id_Municipio, div.id)
      AND Ins.id = ISNULL(@Id_InstEducativa, Ins.id)
      AND sede.id = ISNULL(@Id_sede, sede.id)
      AND sej.ID_Jornada = ISNULL(@Id_Jornada, sej.ID_Jornada)
      AND gra.ID_NivelEducativo = ISNULL(@Id_NivelEducativo, gra.ID_NivelEducativo)
      AND sede.ID_Zona = ISNULL(@Id_Zona, sede.ID_Zona)
      AND ISNULL(CONVERT(INT, sede.PriorizacionPAE), 2)
          = ISNULL(@priorizadaPAE, ISNULL(CONVERT(INT, sede.PriorizacionPAE), 2))
    GROUP BY
          div.Id_TipoMunicipio,
          div.id,
          div.Nombre,
          Ins.id,
          Ins.Nombre,
          sede.id,
          sede.Nombre,
          sede.CodigoDane,
          sede.ID_Zona,
          sede.PriorizacionPAE
    ORDER BY div.Nombre, Ins.Nombre, sede.Nombre;
END;
    
  -----------------------------------------------------------------------------    
  -- FINAL     
  ------------------------------------------------------------ 