/****** Object:  StoredProcedure [Priorizacion].[PA_PrioSedeAsignaRacion]    Script Date: 20/11/2025 5:33:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*  
Proceso que genera el cuadro resumen priorizacion paso 2.  
MARIA CRISTINA DIAZ TORRES  
2022/02/22  
Modificado por: María Cristina Díaz Torres
Fecha: 2022/08/05
Observacion: se modifica por tercera vez la forma de calcular el estado de priorizacion para una sede 
Modificado por: María Cristina Díaz Torres
Fecha: 2022/08/23
Observacion: Se modifica por que se agrego la id_Vigencia a la tabla PRIORIZACION.PRIORIZACIONES.
 -------------------------------
 Modificado por: María Cristina Díaz Torres
Fecha Modificación: 20230505 
Proposito: Permitir que puedan enviar la Institución educativa en lugar de la etc. Como la ETC es obligatoria, la deben enviar en 0(cero)
y se realiza la busqueda de esta por institución.
 -------------------------------
 Modificado por: María Cristina Díaz Torres
Fecha Modificación: 20241113
Proposito: Se agregan los condicionales para incluir el criterio de vulnerabilidad(@Id_CriterioVul int)
--------------------------------------------------------------------------------------
-----------------------------------------------------------------------------
 exec   [Priorizacion].[PA_PrioSedeAsignaRacion] 343, 52
 exec   [Priorizacion].[PA_PrioSedeAsignaRacion] 343, 52,null,NULL,28714 
 exec   [Priorizacion].[PA_PrioSedeAsignaRacion] 353, 53,null,NULL,null,null,1
 exec   [Priorizacion].[PA_PrioSedeAsignaRacion] 327, 54,null,531,null,null,null,null,null,null,null, null
 exec   [Priorizacion].[PA_PrioSedeAsignaRacion] 327, 54,null,531,null,null,null,null,null,3,null, null
 -----------------------------------------------------------------------------  
TiGlobal SaS  
*/  

/*
Modificado: Mateo Solano
Fecha: 20251120
Proposito: Modificar el procedimiento para mejorar el rendimiento y agregar código de DANE
*/
CREATE OR ALTER   PROCEDURE  [Priorizacion].[PA_PrioSedeAsignaRacion] @id_ETC  int,                  @Id_Vigencia       int,        @Id_TipoMunicipio int = null,  
                                                                @Id_Municipio int = null,      @Id_InstEducativa  int = null, @Id_sede int = null,
                                                                @Id_Jornada   int = null,      @Id_NivelEducativo int = null, @Id_Zona int = null,  
                                                                @Id_CriterioVul int = null,    @Id_EstadoPrio     int = NULL, @id_Grado INT = null   
                                                                      
 AS  
  SET NOCOUNT ON  
  --------------------------------------------------------------    
  --     DECLARACION DE TABLAS    
  --------------------------------------------------------------    
  DECLARE @tsede TABLE (                
    id_sede        INT    
  )     
 --------------------------------------------------------------      
  DECLARE @tPriorizacion TABLE (                
    id_Municipio        INT    
   ,Municipio           varchar(100)    
   ,id_InstEducativa     INT    
   ,InstEducativa       varchar(100)    
   ,id_sede             INT    
   ,Sede                varchar(100)
   ,CodigoDane          varchar(50)
   ,MatriculaSIMAT      INT default 0    
   ,ModeloOperacion     varchar(50)    
   ,ModeloOperacionER   varchar(50)     
   ,ModalidadSugerida   varchar(50)  
   ,EstadoPriorizacion  varchar(50)      
   ,RacionDiaria        int default 0    
   ,Id_TipoMunicipio    int default 0    
   ,Id_Jornada          int default 0    
   ,Id_NivelEducativo   int default 0    
   ,Id_Zona             int default 0    
   ,Id_CriterioVul      int default 0    
   ,Id_EstadoPrio       int default 0 
   ,BanderaAmarilla     bit default 0
   ,BanderaRoja         bit default 0
  )     
 --------------------------------------------------------------     
  DECLARE @tsedePrio TABLE (                
    id_sede        INT,
    NumeroComplementos INT,
    CantidadPrioGrados INT,
    CantidadGrados INT,
    Id_EstadoPrio  INT,
    BanderaRoja    bit
  )    
 --------------------------------------------------------------     
  DECLARE @tsedeGradoSedeJornadaPrio TABLE (                
    id_sede        INT,
    id_gradoSedeJornada int,
    NumeroComplementos INT,
    Matricula      int
  )    
  --------------------------------------------------------------    
  --------------------------------------------------------------    
  --     DECLARACION DE VARIABLES    
  --------------------------------------------------------------  
  Declare @id_ETC1 int
  --------------------------------------------------------------    
  --     PROCEDIMIENTO    
  --------------------------------------------------------------   
  begin  
  -----------------------------------------------------------------------------  
  -----------------------------------------------------------------------------    
  -- 20230505
  if @id_ETC = 0
  begin
    select @id_ETC1 = ID_ETC
      from SistemaEducativo.InstitucionEducativa
     where id = @Id_InstEducativa
       and Estado = 1
    ----------
    if @id_ETC1 > 0 
      set @id_ETC = @id_ETC1
  end --  if @id_ETC = 0
  --
  -----------------------------------------------------------------------------  
    -- 1. Precalcular modelos por sede
    ;WITH Modelos AS (
        SELECT 
            sop.ID_sede,
            MAX(CASE WHEN sop.ID_TipoModeloOperacion <> 4 THEN tmo.Siglas END) AS ModeloOperacion,
            MAX(CASE WHEN sop.ID_TipoModeloOperacion =  4 THEN tmo.Siglas END) AS ModeloOperacionER
        FROM SistemaEducativo.SedesModelosOperacion sop
        INNER JOIN ETC.TiposModeloOperacion tmo 
            ON sop.ID_TipoModeloOperacion = tmo.id
        WHERE sop.Estado = 1
        GROUP BY sop.ID_sede
    ),
    
    -- 2. Precalcular modalidad sugerida por sede
    UltimaCarac AS (
        SELECT 
            ci.id_sede,
            MAX(ci.id) AS idMax
        FROM Infraestructura.CaracterizacionInfraestructura ci
        WHERE ci.Id_TipoEstadoCaracterizacion = 4
        GROUP BY ci.id_sede
    ),
    Modalidad AS (
        SELECT 
            uc.id_sede,
            tmr.Siglas AS ModalidadSugerida
        FROM UltimaCarac uc
        INNER JOIN Infraestructura.CaracterizacionInfraestructura ci
            ON ci.id = uc.idMax
        INNER JOIN Priorizacion.TiposModalidadComplemento tmr
            ON tmr.id = ci.id_TipoModalidadComplementoSugerida
        WHERE tmr.estado = 1
    )
    
    INSERT INTO @tPriorizacion
    SELECT 
          div.id                                 AS id_Municipio
        , div.Nombre                             AS Municipio
        , Ins.id                                 AS id_InstEducativa
        , Ins.Nombre                             AS InstitEducativa
        , sede.id                                AS id_Sede
        , sede.Nombre                            AS Sede
        , sede.CodigoDane                         AS CodigoDane
        , SUM(gsj.Matricula)                     AS MatriculaSIMAT
        , mo.ModeloOperacion                     AS ModeloOperacion
        , mo.ModeloOperacionER                   AS ModeloOperacionER
        , mod.ModalidadSugerida                  AS ModalidadSugerida
        , NULL                                   AS EstadoPriorizacion
        , 0                                      AS RacionDiaria          
        , @Id_TipoMunicipio                      AS Id_TipoMunicipio      
        , @Id_Jornada                            AS Id_Jornada            
        , @Id_NivelEducativo                     AS Id_NivelEducativo     
        , @Id_Zona                               AS Id_Zona               
        , @Id_CriterioVul                        AS Id_CriterioVul        
        , @Id_EstadoPrio                         AS Id_EstadoPrio
        , MAX(CONVERT(INT, gsj.CambioMatricula)) AS BanderaAmarilla
        , 0                                      AS BanderaRoja
    FROM  SistemaEducativo.GradosSedesJornadas gsj  
    INNER JOIN SistemaEducativo.SedesJornada          sej on gsj.ID_SedeJornada       = sej.id  
    INNER JOIN SistemaEducativo.Sedes                sede on sej.ID_Sede              = sede.id     
    INNER JOIN SistemaEducativo.InstitucionEducativa  Ins on sede.ID_lE               = Ins.id    
    INNER JOIN Configuracion.Divipolas                div on sede.ID_Divipola         = div.id     
    INNER JOIN SistemaEducativo.Grados                gra on gsj.id_grado             = gra.id
    LEFT JOIN Modelos mo ON mo.ID_sede = sede.id
    LEFT JOIN Modalidad mod ON mod.id_sede = sede.id
    WHERE Ins.Estado  = 1    
      AND div.Estado  = 1    
      AND sede.Estado = 1  
      AND sede.ID_ETC = @id_ETC  
      AND ISNULL(div.Id_TipoMunicipio,0) = ISNULL(@Id_TipoMunicipio, ISNULL(div.Id_TipoMunicipio,0))  
      AND div.id                       = ISNULL(@Id_Municipio, div.id )   
      AND Ins.id                       = ISNULL(@Id_InstEducativa, Ins.id)  
      AND sede.id                      = ISNULL(@Id_sede, sede.id)  
      AND sej.ID_Jornada               = ISNULL(@Id_Jornada, sej.ID_Jornada)  
      AND gsj.id_grado                 = ISNULL(@id_Grado, gsj.id_grado) 
      AND gra.id_NivelEducativo        = ISNULL(@Id_NivelEducativo, gra.id_NivelEducativo)
      AND sede.ID_Zona                 = ISNULL(@Id_Zona, sede.ID_Zona)  
      AND CONVERT(NUMERIC(6,2), gsj.CantDiscapacitados) /
            CASE WHEN gsj.Matricula = 0 THEN 1 ELSE gsj.Matricula END 
            >= CASE WHEN @Id_CriterioVul = 1 THEN 0.5 ELSE -1.0 END
      AND (CONVERT(NUMERIC(6,2), gsj.CantIndigenasDiscapacidad) 
           - CONVERT(NUMERIC(6,2), gsj.CantDiscapacitados)) /
            CASE WHEN gsj.Matricula = 0 THEN 1 ELSE gsj.Matricula END
            >= CASE WHEN @Id_CriterioVul = 2 THEN 0.5 ELSE -1.0 END
      AND (CONVERT(NUMERIC(6,2), gsj.CantlndigVicDis) 
           - CONVERT(NUMERIC(6,2), gsj.CantIndigenasDiscapacidad)) /
            CASE WHEN gsj.Matricula = 0 THEN 1 ELSE gsj.Matricula END
            >= CASE WHEN @Id_CriterioVul = 3 THEN 0.5 ELSE -1.0 END
    GROUP BY  
          div.id          
        , div.Nombre      
        , Ins.id          
        , Ins.Nombre      
        , sede.id         
        , sede.Nombre
        , sede.CodigoDane
        , mo.ModeloOperacion
        , mo.ModeloOperacionER
        , mod.ModalidadSugerida;

  -- ! VERSIÓN ANTERIOR Y DEFICIENTE EN RENDIMIENTO
  --   insert into @tPriorizacion    
  --   select div.id                                               id_Municipio  
  --         ,div.Nombre                                           Municipio  
  --         ,Ins.id                                               id_InstEducativa  
  --         ,Ins.Nombre                                           InstitEducativa  
  --         ,sede.id                                              id_Sede  
  --         ,sede.Nombre                                          Sede  
  --         ,sum(gsj.Matricula)                                   MatriculaSIMAT     
  --         ,(select top 1 tmo.Siglas
  --             from SistemaEducativo.SedesModelosOperacion sop  
  --                  inner join ETC.TiposModeloOperacion    tmo   
  --                  on sop.ID_TipoModeloOperacion = tmo.id  
  --            where sop.Estado = 1  
  --              and sop.ID_sede = sede.id  
  --              and sop.ID_TipoModeloOperacion <> 4 )             ModeloOperacion  
  --         ,(select top 1 tmo.Siglas
  --             from SistemaEducativo.SedesModelosOperacion sop  
  --                  inner join ETC.TiposModeloOperacion    tmo   
  --                  on sop.ID_TipoModeloOperacion = tmo.id  
  --            where sop.Estado = 1  
  --              and sop.ID_sede = sede.id  
  --              and sop.ID_TipoModeloOperacion = 4 )              ModeloOperacionER  
  --         ,(select  tmr.Siglas
  --             from Priorizacion.TiposModalidadComplemento tmr  
  --            where tmr.estado =1  
  --              and tmr.id = (select id_TipoModalidadComplementoSugerida  
  --         from Infraestructura.CaracterizacionInfraestructura  
  --                           where id = ( select  max(id)   
  --                                          from Infraestructura.CaracterizacionInfraestructura  
  --                                         where id_sede =sede.id  
  --                                           and Id_TipoEstadoCaracterizacion = 4)))        ModalidadSugerida  
  --         ,null                                   EstadoPriorizacion
  --         ,0                                      RacionDiaria          
  --         ,@Id_TipoMunicipio                      Id_TipoMunicipio      
  --         ,@Id_Jornada                            Id_Jornada            
  --         ,@Id_NivelEducativo                     Id_NivelEducativo     
  --         ,@Id_Zona                               Id_Zona               
  --         ,@Id_CriterioVul                        Id_CriterioVul        
  --         ,@Id_EstadoPrio                         Id_EstadoPrio
  --         ,MAX(convert(int, gsj.CambioMatricula)) BanderaAmarilla
  --         ,0                                      BandejaRoja
  --   from  SistemaEducativo.GradosSedesJornadas gsj  
  --         inner join SistemaEducativo.SedesJornada          sej on gsj.ID_SedeJornada       = sej.id  
  --         inner join SistemaEducativo.Sedes                sede on sej.ID_Sede              = sede.id     
  --         inner join SistemaEducativo.InstitucionEducativa  Ins on sede.ID_lE               = Ins.id    
  --         inner join Configuracion.Divipolas                div on sede.ID_Divipola         = div.id     
  --         inner join SistemaEducativo.Grados                gra on gsj.id_grado             = gra.id
  --  where Ins.Estado  = 1    
  --    and div.Estado  = 1    
  --    and sede.Estado = 1  
  --    and Ins.Estado  = 1  
  --    and sede.ID_ETC = @id_ETC  
  --    and isnull(div.Id_TipoMunicipio,0) =  isnull(@Id_TipoMunicipio, isnull(div.Id_TipoMunicipio,0))  
  --    and div.id                         =  isnull(@Id_Municipio, div.id )   
  --    and Ins.id                         =  isnull(@Id_InstEducativa, Ins.id)  
  --    and sede.id                        =  isnull(@Id_sede, sede.id)  
  --    and sej.ID_Jornada                 =  isnull(@Id_Jornada, sej.ID_Jornada)  
  --    and gsj.id_grado                   =  isnull(@id_Grado, gsj.id_grado) 
  --    and gra.id_NivelEducativo          =  isnull(@Id_NivelEducativo, gra.id_NivelEducativo )
  --    and sede.ID_Zona                   =  isnull(@Id_Zona, sede.ID_Zona)  
	--    and convert(numeric(6,2),gsj.CantDiscapacitados)/
	--     	  case when gsj.Matricula = 0 then 1 else gsj.Matricula end>=case when @Id_CriterioVul = 1 then 0.5 else -1.0 end
	--    and (convert(numeric(6,2),gsj.CantIndigenasDiscapacidad)-convert(numeric(6,2),gsj.CantDiscapacitados))/
	--     	  case when gsj.Matricula = 0 then 1 else gsj.Matricula end>=case when @Id_CriterioVul = 2 then 0.5 else -1.0 end
	--    and (convert(numeric(6,2),gsj.CantlndigVicDis)-convert(numeric(6,2),gsj.CantIndigenasDiscapacidad))/
	--    	    case when gsj.Matricula = 0 then 1 else gsj.Matricula end>=case when @Id_CriterioVul = 3 then 0.5 else -1.0 end
  --  group by  div .id          
  --           ,div.Nombre      
  --           ,Ins.id          
  --           ,Ins.Nombre      
  --           ,sede.id         
  --           ,sede.Nombre   
  -- ! FIN VERSIÓN ANTERIOR Y DEFICIENTE

  ----------------
  --select *
  --from @tPriorizacion    
  -----------------------------------------------------------------------------
  insert into @tsedePrio(   id_sede, NumeroComplementos, Id_EstadoPrio, BanderaRoja)
  select sej.id_sede  
        ,SUM(isnull(pri.NumeroComplementos,0))             RacionDiaria   
        ,min(isnull(pri.id_TipoEstadoPriorizacion,1))  Id_EstadoPrio 
        ,max(case
           when pri.NumeroComplementos < gsj.Matricula  then 1
           else 0
         end)                                          BanderaRoja
    from  Priorizacion.Priorizaciones                        pri       
         inner join Priorizacion.TiposModalidadComplemento       tmr on pri.ID_TipoModalidadComplemento = tmr.id   
         inner join SistemaEducativo.GradosSedesJornadas    gsj on pri.ID_GradoSedeJornada    = gsj.id    
         inner join SistemaEducativo.SedesJornada           sej on gsj.ID_SedeJornada         = sej.id  
    where tmr.estado  = 1  
      and pri.estado  = 1      
      and gsj.Estado  = 1  
      and pri.ID_Vigencia = @Id_Vigencia
      and sej.ID_Sede in (select ID_Sede from @tPriorizacion )
	  and pri.ID_TipoEstadoPriorizacion<>0--no editar los rechazados
    group by sej.id_sede  
  ------------------------------------------------------------------------------
  insert into @tsedeGradoSedeJornadaPrio
  (id_sede, id_gradoSedeJornada, NumeroComplementos, Matricula)
  select sej.id_sede  
        ,pri.ID_GradoSedeJornada
        ,SUM(isnull(pri.NumeroComplementos,0))             RacionDiaria   
        ,min(gsj.Matricula)                            matricula1
    from  Priorizacion.Priorizaciones                        pri       
         inner join Priorizacion.TiposModalidadComplemento       tmr on pri.ID_TipoModalidadComplemento = tmr.id   
         inner join SistemaEducativo.GradosSedesJornadas    gsj on pri.ID_GradoSedeJornada    = gsj.id    
         inner join SistemaEducativo.SedesJornada           sej on gsj.ID_SedeJornada         = sej.id  
    where tmr.estado  = 1  
      and pri.estado  = 1      
      and gsj.Estado  = 1  
      and pri.ID_Vigencia =  @Id_Vigencia
      and sej.ID_Sede in (select ID_Sede from @tPriorizacion )
	  and pri.ID_TipoEstadoPriorizacion<>0--no editar los rechazados
    group by sej.id_sede,pri.ID_GradoSedeJornada
  -----------------------------------------------------------------------------
  update sede
     set BanderaRoja = (select  max(case
                                     when pri.NumeroComplementos < pri.Matricula  then 1
                                   else 0
                                   end)
                         from @tsedeGradoSedeJornadaPrio pri
                        where pri.id_sede = sede.id_sede 
                        group by pri.id_sede)
  from @tsedePrio sede
  -----------------------------------------------------------------------------
  --select *
  --from @tsedePrio
  ----------------
  --print '@Id_EstadoPrio'
  --print @Id_EstadoPrio
  --select *
  --from @tsedePrio
  --WHERE Id_EstadoPrio = ISNULL(@Id_EstadoPrio, 0)
  --select *
  --from @tPriorizacion    
  -- where id_sede not in  (select id_sede 
  --                            from @tSedePrio  spr
  --                           where isnull(spr.Id_EstadoPrio,1) = ISNULL(@Id_EstadoPrio,1))
  ---------------------------------------------------------------------
  if ISNULL(@Id_EstadoPrio, -1) =  1
     delete @tPriorizacion    
     where id_sede  in  (select id_sede 
                              from @tSedePrio  spr )
  else if ISNULL(@Id_EstadoPrio, -1) in (0,2,3,4)
    delete @tPriorizacion    
     where id_sede not in  (select id_sede 
                              from @tSedePrio  spr
                             where isnull(spr.Id_EstadoPrio,1) = ISNULL(@Id_EstadoPrio,1))
  -----------------------------------------------------------------------------
    update tmp
       set RacionDiaria       = pri.NumeroComplementos
          ,EstadoPriorizacion = (Select Nombre from Priorizacion.TipoEstadoPriorizacion where id = pri.id_EstadoPrio)
          ,Id_EstadoPrio      = pri.id_EstadoPrio
          ,BanderaRoja        = pri.BanderaRoja
    from @tPriorizacion tmp  
         inner join @tSedePrio  pri on tmp.id_sede = pri.id_sede    
  -----------------------------------------------------------------------------  
    update @tPriorizacion
       set EstadoPriorizacion = (Select Nombre from Priorizacion.TipoEstadoPriorizacion where id = 1)
     where EstadoPriorizacion  is null
  -----------------------------------------------------------------------------  
    select  id_Municipio       
           ,Municipio          
           ,id_InstEducativa    
           ,InstEducativa      
           ,id_sede            
           ,Sede               
           ,CodigoDane         
           ,MatriculaSIMAT     
           ,ModeloOperacion    
           ,ModeloOperacionER  
           ,ModalidadSugerida  
           ,RacionDiaria       
           ,EstadoPriorizacion
           ,Id_TipoMunicipio   
           ,Id_Jornada         
           ,Id_NivelEducativo  
           ,Id_Zona            
           ,Id_CriterioVul     
           ,Id_EstadoPrio 
           ,BanderaAmarilla
           ,BanderaRoja
     from @tPriorizacion   
     order by Municipio, InstEducativa, sede
  -----------------------------------------------------------------------------  
  -----------------------------------------------------------------------------  
  end   
  -----------------------------------------------------------------------------  
  -- FINAL   
  ------------------------------------------------------------      
----------------------------------------------------------------------------------------------
/****** Object:  StoredProcedure [Priorizacion].[PA_InstutucionesEduGetbyETC]    Script Date: 13/11/2024 9:46:41 a. m. ******/
SET ANSI_NULLS ON