/****** Object:  StoredProcedure [Infraestructura].[PA_SedePregRespuesta]    Script Date: 22/11/2025 12:54:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Proces que genera el listado de sedes, que tienen la respuesta dada en la pregunta dada, para la ETC dada
Proceso que genera el cuadro resumen de los porcentajes de las sedes que perteneces a una ETC, 
en las siguientes preguntas:
    ¿La sede está cerca de potenciales fuentes de contaminación (basureros, mataderos, pantanos, etc.)?
    ¿La sede educativa se encuentra ubicada en una zona de conflicto armado e inestabilidad social?
    ¿La sede cuenta con un concepto sanitario emitido por una autoridad sanitaria?
    ¿La sede cuenta con el servicio de electricidad?
    ¿La sede cuenta con acceso a agua?
    ¿La sede cuenta con el servicio de alcantarillado?
    ¿Cuál de los siguientes combustibles se utilizan en la sede educativa para la preparación de los alimentos?
    ¿La sede cuenta con el servicio de recolección de basuras (aseo)?
    ¿La sede tiene un espacio dedicado al almacenamiento de alimentos?
    ¿La sede tiene un espacio dedicado a la preparación de alimentos (cocina)?
    ¿Cómo es el espacio que se utiliza para el consumo de alimentos?
    ¿La sede tiene un espacio o área demarcada para la disposición de residuos?
    ¿La sede tiene baños de uso exclusivo para el personal manipulador de alimentos?
    para dotaciones y equipos se utiliza la pregunta 
        40 ¿la sede cuenta con ollas, olletas o pailas exclusivas para el uso del PAE?
MARIA CRISTINA DIAZ TORRES
2022/05/16
 -------------------------------
Fecha Modificación: 20230505 
Proposito: Permitir que puedan enviar la Institución educativa en lugar de la etc. Como la ETC es obligatoria, la deben enviar en 0(cero)
y se realiza la busqueda de esta por institución.
--------------------------------------------------------------------------------------
 exec   [Infraestructura].[PA_SedePregRespuesta] 2, 5, 10
 exec   [Infraestructura].[PA_SedePregRespuesta] 2, 1, 2
 exec   [Infraestructura].[PA_SedePregRespuesta] 2, 40, 2
 exec   [Infraestructura].[PA_SedePregRespuesta] 343, null, 1, 1
  exec   [Infraestructura].[PA_SedePregRespuesta] 0, 34413, 1, 1
TiGlobal SaS
*/

/*
  Modificado: Mateo Solano
  Fecha: 20251121
  Proposito: Modificar el procedimiento para agregar código de DANE
  */

CREATE OR ALTER PROCEDURE  [Infraestructura].[PA_SedePregRespuesta]	@id_ETC int, @Id_institucionEducativa int  = null,  @id_caracteristica int, @id_valorescala int
	AS
		SET NOCOUNT ON
  --------------------------------------------------------------  
  --     DECLARACION DE TABLAS  
  --------------------------------------------------------------  
  --------------------------------------------------------------  
  --     DECLARACION DE VARIABLES  
  --------------------------------------------------------------
  Declare @IdSede             INT
  Declare @id_ETC1            int
  --------------------------------------------------------------  
  --     PROCEDIMIENTO  
  -------------------------------------------------------------- 
  begin  
    ----------------------------------------------------------------
    -- 20230505
    if @id_ETC = 0
    begin
      select @id_ETC1 = ID_ETC
        from SistemaEducativo.InstitucionEducativa
       where id = @Id_institucionEducativa
         and Estado = 1
      ----------
      if @id_ETC1 > 0 
        set @id_ETC = @id_ETC1
    end --  if @id_ETC = 0
    --
		-----------------------------------------------------------------
    if  @id_caracteristica = 40 
    begin
      --------------
      if  @id_valorescala = 1
      begin
        ---------------------
        select sede.id        Id_Sede
              ,div.Nombre     Municipio
              ,Ins.Nombre     InstEducativa
              ,sede.Nombre    Sede
              ,sede.CodigoDane
         from SistemaEducativo.Sedes sede
              inner join SistemaEducativo.InstitucionEducativa Ins on sede.ID_lE        = Ins.id
              inner join Configuracion.Divipolas               div on sede.ID_Divipola  = div.id  
              inner join ( select car.id_sede
                             from  Infraestructura.CaracterizacionInfraestructura  car 
                                   inner join (select car.id_sede, max(car.id) ID_Caracterizacion
                                                 from Infraestructura.CaracterizacionInfraestructura  car
                                                     inner join SistemaEducativo.Sedes sede1  on car.id_sede = sede1.id
                                               where sede1.id_ETC = @id_ETC
                                                 and sede1.ID_lE  = ISNULL(@Id_institucionEducativa, sede1.ID_lE ) 
                                                 and car.estado = 1
                                               group by car.id_sede) cim on car.ID= cim.ID_Caracterizacion 
                           where car.estado = 1
                             and isnull(suficienciaDotacion,100) <= 50) pre on sede.id = pre.id_sede
        where sede.Estado = 1
          and Ins.Estado  = 1
          and div.Estado  = 1;
        ------------------------------
      end
      else
      begin
        ---------------------
        select sede.id      Id_Sede
              ,div.Nombre   Municipio
              ,Ins.Nombre   InstEducativa
              ,sede.Nombre  Sede
              ,sede.CodigoDane
         from SistemaEducativo.Sedes sede
              inner join SistemaEducativo.InstitucionEducativa Ins on sede.ID_lE        = Ins.id
              inner join Configuracion.Divipolas               div on sede.ID_Divipola  = div.id  
              inner join ( select car.id_sede
                             from  Infraestructura.CaracterizacionInfraestructura  car 
                                   inner join (select car.id_sede, max(car.id) ID_Caracterizacion
                                                 from Infraestructura.CaracterizacionInfraestructura  car
                                                     inner join SistemaEducativo.Sedes sede1  on car.id_sede = sede1.id
                                               where sede1.id_ETC = @id_ETC
                                                 and sede1.ID_lE  = ISNULL(@Id_institucionEducativa, sede1.ID_lE ) 
                                                 and car.estado = 1
                                               group by car.id_sede) cim on car.ID= cim.ID_Caracterizacion 
                           where car.estado = 1
                             and isnull(suficienciaDotacion,100) > 50) pre on sede.id = pre.id_sede
        where sede.Estado = 1
          and Ins.Estado  = 1
          and div.Estado  = 1;
      --------------
      end 
      -----------
    end
    else 
    begin
      --------------
      select sede.id     Id_Sede
            ,div.Nombre  Municipio
            ,Ins.Nombre  InstEducativa
            ,sede.Nombre Sede
            ,sede.CodigoDane
       from SistemaEducativo.Sedes sede
            inner join SistemaEducativo.InstitucionEducativa Ins on sede.ID_lE        = Ins.id
            inner join Configuracion.Divipolas               div on sede.ID_Divipola  = div.id  
            inner join ( select car.id_sede
                           from Infraestructura.ValorCaracteristicas  vac
                                 inner join Infraestructura.CaracterizacionInfraestructura  car on vac.ID_Caracterizacion = car.id
                                 inner join (select car.id_sede, max(car.id) ID_Caracterizacion
                                               from Infraestructura.CaracterizacionInfraestructura  car
                                                   inner join SistemaEducativo.Sedes sede1  on car.id_sede = sede1.id
                                             where sede1.id_ETC = @id_ETC
                                               and sede1.ID_lE  = ISNULL(@Id_institucionEducativa, sede1.ID_lE ) 
                                               and car.estado = 1
                                             group by car.id_sede) cim on vac.ID_Caracterizacion = cim.ID_Caracterizacion 
                         where vac.estado = 1
                           and vac.id_caracteristica =  @id_caracteristica
                           and vac.id_valorEscala    =  @id_valorescala) pre on sede.id = pre.id_sede
      where sede.Estado = 1
        and Ins.Estado  = 1
        and div.Estado  = 1
      -----------------
    end
		-----------------------------------------------------------------------------
  end 
  -----------------------------------------------------------------------------
  -- FINAL 
  ----------------------------------------------------------------------------- 
----------------------------------------------------------------------------------------------