/****** Object:  StoredProcedure [Contratos].[PA_ContratosSedeJornadaBeneficiarios]    Script Date: 21/11/2025 8:56:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*  
  Empresa:  TiGlobal SAS   
  DescripciÓn: Proceso que genera el cuadro resumen las sedes, jornada, modelo de operacion MAEM   
  que tienen asignadas raciones por un  contrato.  
  Creado Por:  MARIA CRISTINA DIAZ TORRES  
  Fecha:  2022/04/11  
   exec  [Contratos].[PA_ContratosSedeJornadaBeneficiarios]  131  --12  
    exec  [Contratos].[PA_ContratosSedeJornadaBeneficiarios]  2869
  
  
 */  

 /*
  Modificado: Mateo Solano
  Fecha: 20251121
  Proposito: Modificar el procedimiento para agregar código de DANE
  */
CREATE OR ALTER PROCEDURE  [Contratos].[PA_ContratosSedeJornadaBeneficiarios]  @id_Contrato int, @id_divipola INT = NULL , @id_IE INT = NULL , @id_sede INT = null  
 AS  
 SET NOCOUNT ON  
  --------------------------------------------------------------    
  --     DECLARACION DE TABLAS    
  --------------------------------------------------------------     
  --------------------------------------------------------------    
  --     DECLARACION DE VARIABLES    
  --------------------------------------------------------------  
  --------------------------------------------------------------    
  --                          INICIO                         ---  
  --------------------------------------------------------------   
 BEGIN   
    ------------------------------------------------------------  
    SELECT div.Nombre                           Municipio  
          ,Ins.Nombre                           InstitucionEdu  
          ,sede.Nombre                          SedeEducativa  
          ,sede.CodigoDane                       CodigoDane
          ,jor.Nombre                           Jornada  
          ,pvt.[Complemento Almuerzo_Com]       AlmuerzoCatering  
          ,pvt.[Complemento Almuerzo_Pre]       AlmuerzoRPS  
          ,pvt.[Complemento AM/PM_Com]          compCatering        
          ,pvt.[Complemento AM/PM_Ind]          compleRI
          ,pvt.[Complemento AM/PM_Pre]			compleRPS
          ,ISNULL(pvt.[Complemento Almuerzo_Com],0)   
          + ISNULL(pvt.[Complemento Almuerzo_Pre],0)   
          + ISNULL(pvt.[Complemento AM/PM_Com],0)   
          + ISNULL(pvt.[Complemento AM/PM_Ind],0)   
          + ISNULL(pvt.[Complemento AM/PM_Pre],0) TotalRacionesDia  
     from  SistemaEducativo.SedesJornada                     sej   
           INNER JOIN SistemaEducativo.Jornada               jor ON sej.ID_Jornada             = jor.id  
           INNER JOIN SistemaEducativo.Sedes                sede ON sej.ID_Sede                = sede.id  
           inner join SistemaEducativo.InstitucionEducativa  Ins on sede.ID_lE                 = Ins.id  
           inner join Configuracion.Divipolas                div on sede.ID_Divipola           = div.id   
           INNER JOIN ( SELECT gsj.ID_SedeJornada  
                              ,tra.nombre +'_'+  
                               CASE   
                                 WHEN SUBSTRING(tmr.nombre,1,3) = 'Cat'   
                                 THEN SUBSTRING(tmr.nombre,1,8)  
                                 ELSE SUBSTRING(tmr.nombre,1,3)  
                               END                            ModalidadRacion  
                              ,SUM (pri.NumeroComplementos)       NumeroComplementos
                          FROM  Priorizacion.Priorizaciones                       pri  
                                INNER JOIN Contratos.PriorizacionesContrato       pcr ON pri.ID_GradoSedeJornada    = pcr.ID_GradoSedeJornada  
                                                                                    AND pri.ID_TipoModeloOperacion = pcr.ID_TipoModelooperacion  
                                                                                    AND pri.ID_TipoModalidadComplemento = pcr.ID_TipoModalidadComplemento  
                                                                                    AND pri.ID_TipoComplemento          = pcr.ID_TipoComplemento  
                               INNER JOIN SistemaEducativo.GradosSedesJornadas gsj  ON pri.ID_GradoSedeJornada     = gsj.id  
                               LEFT JOIN Priorizacion.TiposModalidadComplemento     tmr  ON pcr.ID_TipoModalidadComplemento  = tmr.id   
                               LEFT JOIN AlimentosMenu.TiposComplemento             tra  ON pcr.ID_TipoComplemento           = tra.id  
                         WHERE pri.ID_TipoModeloOperacion = 1  AND 
                               pcr.ID_Contrato = @id_Contrato  
                           AND pri.Estado = 1  
                           AND pcr.Estado = 1  
                           AND tmr.Estado = 1  
                           AND tra.Estado = 1  
                         GROUP BY gsj.ID_SedeJornada  
                              ,tra.nombre +'_'+  
                               CASE   
                                 WHEN SUBSTRING(tmr.nombre,1,3) = 'Cat'   
                                 THEN SUBSTRING(tmr.nombre,1,8)  
                                 ELSE SUBSTRING(tmr.nombre,1,3)  
                               END                      )  p   
                    PIVOT ( sum(p.NumeroComplementos)  
                            FOR p.ModalidadRacion in ( [Complemento Almuerzo_Com], [Complemento Almuerzo_Pre]  
                                                    ,[Complemento AM/PM_Com], [Complemento AM/PM_Ind]  
                                                    ,[Complemento AM/PM_Pre]) ) pvt ON pvt.ID_SedeJornada = sej.id  
    where  sede.Estado = 1  
      and  Ins.Estado  = 1  
      and  div.Estado  = 1  
      AND sede.ID_Divipola  = ISNULL(@id_divipola, sede.ID_Divipola)  
      AND sede.ID_lE        = ISNULL(@id_IE,       sede.ID_lE)  
      AND sede.id           = ISNULL(@id_sede,     sede.id)  
  --------------------------------------------------------------    
  --                          FIN                             --  
  --------------------------------------------------------------  
 END  
-----------  
----------- 